*{
  font-family: roboto-bold,Helvetica,Arial,sans-serif;
}

.form{
  display: block;
  margin: 0 auto;
  max-width: 600px;
  min-height: 100px;
  padding: 10px;
  background-color: #ebf6fb;
  border-radius: 3%;
}